# Dependencies
/node_modules

# Next.js
/.next/
/out/
/dist
/build

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# temp directory
.temp
.tmp
/tmp

# Misc
.DS_Store
*.pem

# Vercel/Railway
.vercel
